# ----------------------------------------
# Python
# ----------------------------------------
venv/
**/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# ----------------------------------------
# macOS
# ----------------------------------------
.DS_Store

# ----------------------------------------
# .NET / C#
# ----------------------------------------
bin/
obj/
**/bin/
**/obj/

# ----------------------------------------
# Videos - ignore all video files
# ----------------------------------------
*.mp4
*.mov
*.avi
*.mkv

# Ignore entire videos folder
AI/OlympicAi/Backend/Videos/

# ----------------------------------------
# Node / Frontend
# ----------------------------------------
node_modules/
dist/
build/
